/**
 * @name 组件
*/

.Section {
  margin: 1em 0;
}

.List {
  padding-left: 1rem;
  margin: 0;
  list-style-position: inside;
}
.List li {
  line-height: 1.5;
}

.Code {
  overflow: hidden;
  padding: 1rem;
  font-size: 0.75em;
  white-space: pre-wrap;
  background-color: var(--Color-Background-Grey);
}

.Site {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--Color-Text-Sub);
  font-size: 0.7rem;
}
