/**
 * @name 布局
*/

/* Layout */
.Layout {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/* Headline-Directory */
.Headline{
  height: 4em;
  padding:0 2rem;
  font-size: 4rem;
  line-height: 4em;
}
.Directory{
  padding:0 2rem;
  font-size: 1.5rem;
}

/* Head-Body */
.Head {
  position: relative;
  height: 2em;
  font-size: 2rem;
  line-height: 2em;
  vertical-align: middle;
}
.Body {
  position: relative;
  height: calc(100% - 4rem);
  padding-top: 1rem;
}

/* Divide */
.Divide-2 {
  float: left;
  position: relative;
  width: 50%;
}
.Divide-3 {
  float: left;
  position: relative;
  width: 33.3%;
}
