html {
  color: #333;
  font-size: 14px;
  font-family: "Microsoft Jhenghei";
}
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body > .slide {
  width: 100vw;
  height: 56.25vw;

  background-color: aliceblue;
}
