@import "./variable/global.css";
@import "./part/layout.css";
@import "./part/component.css";
@import "./part/text.css";
@import "./part/decorator.css";
@import "../../../#temp/config.css";

:root {
  --Button-Size: 2em;
  --Button-Gauge: 1em;
  --Slide-Height: 100vh;
}

* {
  box-sizing: border-box;
}
html {
  color: var(--Color-Text-Normal);
  font-size: 14px;
  font-family: "Microsoft Jhenghei";
}
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
a,
a:visited,
a:active,
a:focus {
  color: var(--Color-Text-Link);
  text-decoration: none;
}
pre {
  margin: auto;
}

#Container {
  position: relative;
  width: 100vw;
  height: var(--Slide-Height);
}

#Slide {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  transition: opacity 0.3s;
  opacity: 1;
}
#Slide.Hidden {
  opacity: 0;
}

#Control {
  z-index: 1000;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 4em;
  padding: 0 1em;
  right: 0;
  bottom: 0;
  color: var(--Color-Control);
  font-size: 14px;
}

#Info {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em 0 2em;
  line-height: 4em;
}

#Pagination {
  display: none;
}
#Pagination.Enable {
  display: inline-block;
}

#Button {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  transition: width 0.3s;
}
#Control:hover > #Button {
  width: 11em;
}
#Button::before {
  content: "";
  display: inline-block;
  height: 2em;
  margin-right: 1em;
  border-right: 3px solid var(--Color-Border-Grey);
}

#Button > span:not(:last-child) {
  margin-right: var(--Button-Gauge);
}
#Previous,
#Next,
#Home {
  width: var(--Button-Size);
  height: var(--Button-Size);
  background-size: var(--Button-Size);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#Previous.Disable,
#Next.Disable {
  opacity: 0.3;
  pointer-events: none;
}
#Previous {
  background-image: url(./images/arrow-left.svg);
}
#Next {
  background-image: url(./images/arrow-right.svg);
}
#Home {
  background-image: url(./images/home.svg);
  transform: scale(0.85);
}
